 
  
<div class="search-div" fxLayout="row">
  <mat-list-item class="header-tag" routerLink="/"> Home </mat-list-item>/
   <mat-list-item  class="header-tag" routerLink="/pcconnectrequest"> PC Connect Request  </mat-list-item>/
  <mat-list-item class="header-tag active" > Detail</mat-list-item>

</div>

<!---->


<mat-card class="example-card">
  <mat-card-header>
      <mat-card-title>
          PC Connect Request Details
      </mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-tab-group mat-align-tabs="center" animationDuration="0ms">
    <mat-tab label="EPM">
      <form [formGroup]="service.pcform" (ngSubmit)="onSubmit()" class="normal-form" >
        <mat-grid-list cols="2" rowHeight="390px" >
          <mat-grid-tile>
            <div class="controles-container"> 
              <!-- <input type="hidden"   formControlName="requestType">
             -->
              <input type="hidden" [value]="param1" id="reqId" formControlName="id">
             <mat-form-field>
                <input formControlName="customerName" [readonly]="epmFlag"  matInput [value]="reqval?.customerName"   placeholder="Customer Name*">       
              </mat-form-field> 
              <mat-form-field>
                <input formControlName="ecrmNumberSample" [readonly]="epmFlag"  matInput [value]="reqval?.ecrmNumberSample" placeholder="ECRM Number">
               
              </mat-form-field>
              <mat-form-field>
                <input formControlName="noOfSIMs" [readonly]="epmFlag"  matInput [value]="reqval?.noOfSIMs" placeholder="NO Of SIMs*">
                
              </mat-form-field>
              <mat-form-field appearance = "fill">
                <textarea formControlName="destinationIpOfCustomer" rows="4" [readonly]="epmFlag"  matInput   placeholder = "Destination Ips(IP separated by ,)"></textarea>
             </mat-form-field>
              <!-- <mat-form-field>
                <input formControlName="destinationIpOfCustomer" [readonly]="epmFlag" matInput [value]="reqval?.destinationIpOfCustomer" placeholder="Destination Ip Of Customer">
              </mat-form-field> -->
              <mat-form-field>
                <input formControlName="requestedQuota" [readonly]="epmFlag"  matInput [value]="reqval?.requestedQuota" placeholder="Requested Quota*">
                
              </mat-form-field>
              
  
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="controles-container">
            
              <mat-form-field [hidden]="oldflag">
                <input formControlName="oldECRMNumber"   [readonly]="epmFlag"  matInput [value]="reqval?.oldECRMNumber" placeholder="Old VPN ECRM Number Sample*">
                
              </mat-form-field>
              <mat-form-field>
                <mat-select formControlName="casePeriority" [disabled]="epmFlag" [value]="reqval?.casePeriority" placeholder="case Periority">
                  <mat-option>None</mat-option>
                  <ng-container *ngFor="let item of periorList">
                    <mat-option [value]="item.value">{{item.value}}</mat-option>
                  </ng-container>
                </mat-select>
              </mat-form-field>
        
              <mat-form-field>
                <mat-select formControlName="billingApprovalConfirmationId" [disabled]="epmFlag" [value]="reqval?.billingApprovalConfirmationId" placeholder="Billing Approval Confirmation">
                  <mat-option>None</mat-option>
                  <ng-container *ngFor="let item of confirmList">
                    <mat-option [value]="item.id">{{item.value}}</mat-option>
                  </ng-container>
                </mat-select>
              </mat-form-field>
            
             
                <mat-form-field>
                  <input formControlName="ipPool" [readonly]="epmFlag" matInput [value]="reqval?.ipPool" placeholder="Ip Pool">
                </mat-form-field>
                <mat-checkbox *ngIf="iseditpage"  [disabled]="epmFlag" formControlName="isnew"> Is new pool 
                </mat-checkbox>
              
              <mat-form-field>
                <mat-select formControlName="customerTestingTool" [disabled]="epmFlag" [value]="reqval?.customerTestingTool" placeholder="Customer Testing Tool">
                  <mat-option>None</mat-option>
                  <ng-container *ngFor="let item of custestList">
                    <mat-option [value]="item.value">{{item.value}}</mat-option>
                  </ng-container>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <mat-select formControlName="contracttypeId" [disabled]="epmFlag"   placeholder="Contract Type">
                  <mat-option value='null' >None</mat-option>
                  <ng-container *ngFor="let item of contractList">
                    <mat-option [value]="item.id">{{item.value}}</mat-option>
                  </ng-container>
                </mat-select> 
              </mat-form-field>  
           
            </div>
            
          </mat-grid-tile>
          <mat-grid-tile colspan="2"  id="act-btn" >
            <div class="button-row w-100" [hidden]="readonlyFlag"> 
              <button mat-raised-button class="submit" type="submit" [disabled]="appear==true">  Submit</button>
    
              <button mat-raised-button color="warn" routerLink="/pcconnectrequest">Cancel</button>
            </div>
        </mat-grid-tile>
         
        </mat-grid-list>
        
      </form>

    </mat-tab>
    <mat-tab label="Presales">
      
      <form [formGroup]="service.pcform" (ngSubmit)="onSubmit()" class="normal-form" >
        <input type="hidden" [value]="param1" id="reqId" formControlName="id">

        <mat-grid-list cols="2" rowHeight="250px" >
          <mat-grid-tile>
            <div class="controles-container">  
              <!-- <mat-form-field>
                <input formControlName="customerName" [readonly]="presalesFlag"  matInput [value]="reqval?.customerName"   placeholder="Customer Name*">       
              </mat-form-field> -->
              <mat-form-field>
                <mat-select formControlName="ipAllocationId" [disabled]="saleFlag" [value]="reqval?.ipAllocationId" placeholder="Ip Allocation">
                  <mat-option>None</mat-option>
                  <ng-container *ngFor="let item of ipAllocatedList">
                    <mat-option [value]="item.id">{{item.value}}</mat-option>
                  </ng-container>
                </mat-select>
              </mat-form-field>
    
             
              <mat-form-field>
                <mat-select formControlName="customerNeedOneWayOrTwoWaysDirectionsId" [disabled]="saleFlag" [value]="reqval?.customerNeedOneWayOrTwoWaysDirectionsId" placeholder="Customer Need OneWay Or TwoWays Directions">
                  <mat-option>None</mat-option>
                  <ng-container *ngFor="let item of cusneedList">
                    <mat-option [value]="item.id">{{item.value}}</mat-option>
                  </ng-container>
                </mat-select>
              </mat-form-field>
             
             
          
             
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="controles-container">
            
             
             
              <mat-form-field>
                <mat-select formControlName="forecastId" [disabled]="saleFlag" [value]="reqval?.forecastId" placeholder="forecast">
                  <mat-option>None</mat-option>
                  <ng-container *ngFor="let item of forcastList">
                    <mat-option [value]="item.id">{{item.value}}</mat-option>
                  </ng-container>
                </mat-select>
              </mat-form-field>  
              <mat-form-field>
                <input formControlName="forecastNumber" type="number" [readonly]="saleFlag" matInput [value]="reqval?.forecastNumber" placeholder="forecast Number">
              </mat-form-field>
              <mat-form-field>
                <mat-select formControlName="vrfId" [disabled]="saleFlag" (selectionChange)="applyselectpool($event.value)"  placeholder="VRF">
                  <mat-option value='null' >None</mat-option>
                  <ng-container *ngFor="let item of vrfList">
                    <mat-option [value]="item.id">{{item.value}}</mat-option>
                  </ng-container>
                </mat-select> 
              </mat-form-field>  
              

            </div>
            
          </mat-grid-tile>
          <mat-grid-tile colspan="2"  id="act-btn" >
            <div class="button-row w-100" [hidden]="readonlyFlag">
              <button mat-raised-button class="submit" type="submit" [disabled]="appear==true"> <!-- <img src="../../../assets/image/lod.gif" #loading >--> Submit</button>
    
              <button mat-raised-button color="warn" routerLink="/pcconnectrequest">Cancel</button>
            </div>
        </mat-grid-tile>
         
        </mat-grid-list>
        
      </form>
      
      
      
     </mat-tab>
  
   
     <mat-tab label="ESP">
      <form [formGroup]="service.pcform" (ngSubmit)="onSubmit()" class="normal-form" >
        <mat-grid-list cols="2" rowHeight="330px" >
          <mat-grid-tile>
            <div class="controles-container"> 
            
              <input type="hidden" [value]="param1" id="reqId" formControlName="id">
             

              <mat-form-field>
                <mat-select formControlName="confirmationSummaryApprovedFromCSTId" [disabled]="espFlag" [value]="reqval?.confirmationSummaryApprovedFromCSTId" placeholder="Confirmation Summary Approved From CST">
                  <mat-option>None</mat-option>
                  <ng-container *ngFor="let item of confirmSummaryList">
                    <mat-option [value]="item.id">{{item.value}}</mat-option>
                  </ng-container>
                </mat-select>
              </mat-form-field>
    

             
              <mat-form-field appearance = "fill">
                <textarea formControlName="vrfDetails" [readonly]="espFlag"  matInput [value]="reqval?.vrfDetails" placeholder = "VRF Details"></textarea>
             </mat-form-field>
            
           
             
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="controles-container">
              <mat-form-field>
                <mat-select formControlName="customerNeedsSpecificPortOrAllowAnyId" [disabled]="espFlag" [value]="reqval?.customerNeedsSpecificPortOrAllowAnyId" placeholder="Customer Needs Specific Port Or Allow Any">
                  <mat-option>None</mat-option>
                  <ng-container *ngFor="let item of cusportList">
                    <mat-option [value]="item.id">{{item.value}}</mat-option>
                  </ng-container>
                </mat-select>
              </mat-form-field> 
           
              <mat-form-field>
                <mat-select formControlName="usedTestSimDataSerialId" [disabled]="espFlag"    placeholder="Test Sim Data Serial">
                  <mat-option value='null' >None</mat-option>
                  <ng-container *ngFor="let item of simtestList">
                    <mat-option [value]="item.id">{{item.value}}</mat-option>
                  </ng-container>
                </mat-select> 
              </mat-form-field> 
              <mat-form-field>
                <mat-select formControlName="confirmedThatIpPoolNotDuplicatedId"  [disabled]="espFlag"   placeholder="Confirmed That Ip Pool Not Duplicated">
                  <mat-option value='null' >None</mat-option>
                  <ng-container *ngFor="let item of confirmPoolList">
                    <mat-option [value]="item.id">{{item.value}}</mat-option>
                  </ng-container>
                </mat-select> 
              </mat-form-field> 
              <mat-form-field>
                <mat-select formControlName="newoldId" [disabled]="espFlag" [value]="reqval?.newoldId" placeholder="New Old">
                  <mat-option>None</mat-option>
                  <ng-container *ngFor="let item of newOldList">
                    <mat-option [value]="item.id">{{item.value}}</mat-option>
                  </ng-container>
                </mat-select>
              </mat-form-field> 
            </div>
            
          </mat-grid-tile>
          <mat-grid-tile colspan="2"  id="act-btn" >
            <div class="button-row w-100" [hidden]="readonlyFlag">
              <button mat-raised-button class="submit" type="submit" [disabled]="appear==true">   <!-- <img src="../../../assets/image/lod.gif" #loading >--> Submit</button>
    
              <button mat-raised-button color="warn" routerLink="/pcconnectrequest">Cancel</button>
            </div>
        </mat-grid-tile>
         
        </mat-grid-list>
        
      </form>
      
    </mat-tab>
    <mat-tab label="Operation">
      <form [formGroup]="service.pcform" (ngSubmit)="onSubmit()" class="normal-form" >
        <mat-grid-list cols="2" rowHeight="100px" >
          <mat-grid-tile>
            <div class="controles-container"> 
              
              <input type="hidden" [value]="param1" id="reqId" formControlName="id">
              <mat-form-field>
                <input formControlName="apnName" [readonly]="opFlag" matInput [value]="reqval?.apnName" placeholder="APN Name">
              </mat-form-field>
              </div>
              </mat-grid-tile>
           
            <mat-grid-tile colspan="2"  id="act-btn" >
              <div class="button-row w-100" [hidden]="readonlyFlag">
                <button mat-raised-button class="submit" type="submit" [disabled]="appear==true">    Submit</button>
      
                <button mat-raised-button color="warn" routerLink="/pcconnectrequest">Cancel</button>
              </div>
          </mat-grid-tile>
              </mat-grid-list>
      </form>
    </mat-tab>
  
    <mat-tab label="General">
      <form [formGroup]="service.pcform" (ngSubmit)="onSubmit()" class="normal-form" >
        <mat-grid-list cols="2" rowHeight="270px" >
          <mat-grid-tile>
            <div class="controles-container"> 
            
              <input type="hidden" [value]="param1" id="reqId" formControlName="id">
             
              <mat-form-field>
                <mat-select formControlName="currentstatusId" [disabled]="readonlyFlag"   placeholder="Status">
                  <mat-option value='null' >None</mat-option>
                  <ng-container *ngFor="let item of statusList">
                    <mat-option [value]="item.id">{{item.value}}</mat-option>
                  </ng-container>
                </mat-select> 
              </mat-form-field>  
  
             
             
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="controles-container">
            
             
            
              <mat-form-field [hidden]="commentFlag" appearance = "fill">
                <textarea formControlName="viewComment" rows="3"  readonly matInput  placeholder = "Comment"></textarea>
             </mat-form-field>
              
              <mat-form-field appearance = "fill">
                <textarea formControlName="generalComment" rows="6"  matInput [readonly]='readonlyFlag'  placeholder = "general Comment"></textarea>
             </mat-form-field>
            </div>
            
          </mat-grid-tile>
          <mat-grid-tile colspan="2"  id="act-btn" >
            <div class="button-row w-100" [hidden]="readonlyFlag">
              <button mat-raised-button class="submit" type="submit" [disabled]="appear==true">  Submit</button>
    
              <button mat-raised-button color="warn" routerLink="/pcconnectrequest">Cancel</button>
            </div>
        </mat-grid-tile>
         
        </mat-grid-list>
        
      </form>

    </mat-tab>



  
  </mat-tab-group>
  
</mat-card>
<div id="loading" #loading1 style="display:none;">
  <div>
      <img src="../../../assets/image/cylinder.gif" height="350" width="350">
  </div>
</div>